<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://requestworker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2641b20b-e71c-4c99-84e1-759b74b49fdf/resourceGroups/banco_cosmos/providers/Microsoft.Web/sites/RequestWorker</ResourceId>
    <UserName>$RequestWorker</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://requestworker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>